/*
  This file contains styles for the contact.html page.
*/

/* Background image for title */
#TitleImage {
  background: url("../images/joel-filipe-WjnF1Tp-p3I-unsplash.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main article */

.paddingForArticle {
  padding-left: 16vw;
  padding-right: 16vw;
}

.tabContainer {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: white;
  color: white;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 1050px;
}

.tabItem {
  float: left;
  margin: 3%;
  margin-bottom: 0;
  padding: 1vw;
  width: 27.32%;
  height: 21.6vw;
  background-color: #15476a;
}

.innovationCamp {
  padding-bottom: 0px;
}

.innovationCamp h2 {
  font-size: 23px;
}

.checkboxCommon {
  opacity: 0;
  height: 10px;
  width: 10px;
  margin: 0;
  position: absolute;
}

.imageContainer {
  overflow: auto;
  height: 10.7vw;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
}

.tabItem h2 {
  padding-left: 10%;
  padding-right: 10%;
}

#ContactUsGeneralImage {
  background: url("../images/ContactGeneral.jpg") -50px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

#InnovationCampImage {
  background: url("../images/startup-594090_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#SocialMediaImage {
  background: url("../images/SocialMediaIcons.png") 0 40%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.hoverElem:hover {
  background-color: #5fa9a9;
  color: black;
}

.commonHiddenBox {
  height: 640px;
  overflow: auto;
  display: none;
  background-color: #5fa9a9;
  position: absolute;
  top: 26.7vw;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  color: black;
}

.commonHiddenBox label {
  padding-top: 10px;
  padding-bottom: 10px;
}

#ContactUsCheckbox:checked ~ .hiddenBox1, #InnovationCampCheckbox:checked ~ .hiddenBox2, #SocialMediaCheckbox:checked ~ .hiddenBox3 {
  display: block;
}

#ContactUsCheckbox:checked ~ label .contactUsGeneral, #InnovationCampCheckbox:checked ~ label .innovationCamp, #SocialMediaCheckbox:checked ~ label .socialMedia {
  background-color: #5fa9a9;
  color: black;
  margin-bottom: 0;
}

.hiddenBox1, .hiddenBox2, .hiddenBox3 {
  padding: 20px;
}

.textInput {
  float: left;
  margin-left: 10px;
}

textarea {
  width: 75%;
  height: 200px;
  margin-top: 30px;
  margin-left: 10px;
}

[type*="submit"] {
  margin-left: 10px;
  margin-top: 10px;
}

[type*="submit"]:hover {
  background-color: #15476a;
  color: white;
}

.socialMediaIcon {
  width: 60px;
  height: 60px;
  border-radius: 30px 30px 30px 30px;
  border-color: rgba(0,0,0,0);
}

.socialMediaIcons {
  margin-top: 50px;
}

.socialMediaIcons a {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  position: relative;
}

.socialMediaIcon + h4 {
  position: absolute;
  left: 80px;
  top: -30px;
}

.socialMediaIcons a:hover {
  color: white;
}

.checkboxCommon:focus + label div {
  border-style: solid;
  border-color: rgba(250, 150, 150);
  border-width: 3px;
}

@media only screen and (min-width: 1500px) {
  .tabContainer {
    height: 72.6vw;
  }

  .commonHiddenBox {
    height: 45.3vw;
  }
}


@media only screen and (max-width: 1200px) {

  .tabItem {
    margin-right: 0;
    width: 29.33%;
    padding-left: 10px;
    padding-right: 10px;
    height: 29vw;
  }

  .commonHiddenBox {
    top: 33.1vw;
    height: 700px;
  }

  #ContactUsGeneralImage {
    background-position: -15px 0px;
  }

  .tabContainer {
    height: 1100px;
  }

}


@media only screen and (max-width: 800px) {
  .imageContainer {
    display: none;
  }
  .tabItem h2 {
    font-size: 4vw;
  }
  .tabItem {
    padding-left: 1px;
    padding-right: 1px;
  }
  .paddingForArticle {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .borderRight {
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 3px;
  }
  .commonHiddenBox {
    height: auto;
  }
}

@media only screen and (max-width: 400px) {

  .socialMediaIcon + h4 {
    font-size: 15px;
    top: 5px;
  }
  .tabItem {
    clear: both;
    width: 93%;
    margin-left: 3%;
    margin-right: 3%;
    height: 10vw;
    padding: 0;
  }
  .tabItem h2 {
    margin: 2.5vw 0;
    font-size: 3.8vw;
  }
  .commonHiddenBox {
    top: 50vw;
  }
}
