* {
    box-sizing: border-box;
    font-family: "calibri", "arial", "sans-serif";
}

body {
    margin: 0;
    background: rgb(255, 255, 255);
}

/* Style the header */
header {
    background-color: #a2a2a2;
    padding: 50px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #15476a;
    padding-left: 18%;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #15476a;
}


/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

article {
    background-color: white;
    height: auto;
    overflow: auto;
    width: 100%;
    padding-bottom: 150px;
}

.sideMarginForText {
    margin-left: 18%;
    margin-right: 18%;
}

.row {
    padding-top: 50px;
    padding-bottom: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    font-size: 25px;
    font-style: normal;
    text-align: center;
}


.imageBox {
    width: 50%;
    float: left;
}

.profileImage {
    width: 150px;
    height: 150px;
    float: right;
    padding-right: 20%;
}

.infoBox {
    width: 50%;
    float: left;
    text-align: center;
}

.textInfo {
    float: left;
    padding-left: 20%;
}


header{


}


/* Style the Schedule*/





.container {
    width: 95%;
    max-width: 980px;
    border: yellow solid 2px;
    margin: 0 auto;
}


.evetnContainer{
    display: flex;
    justify-content: space-between;
    margin: 2em;
    height: 100%;


}

.eventTxtMonth {
    font-size:2em;
    font-weight: bold;

}

.eventTxtDate {
    font-size: 6em;
    font-weight: bold;

}

.eventDato{
    background: #5fa9a9;
    width: 33%;

    padding: 16px 25px;
    text-align: center;
    color: #15476a;
}


.eventInfo{
    background: #15476a;
    width: 66%;
    padding: 0em 2em;
    // color: #9ae0e0;
    color: white;
}

