* {
    box-sizing: border-box;
    font-family: "calibri", "arial", "sans-serif";
}

body {
    margin: 0;
}

/* Style the header */
header {
    background-color: #74b5e7;
    padding: 50px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #15476a;
    padding-left: 18%;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #15476a;
}


/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

article {
    background-color: white;
    height: auto;
    overflow: auto;
    width: 100%;
    padding-bottom: 150px;
}

.sideMarginForText {
    margin-left: 18%;
    margin-right: 18%;
}

.row {
    padding-top: 50px;
    padding-bottom: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    font-size: 25px;
    font-style: normal;
    text-align: center;
}


.imageBox {
    width: 50%;
    float: left;
}

.profileImage {
    width: 150px;
    height: 150px;
    float: right;
    padding-right: 20%;
}

.infoBox {
    width: 50%;
    float: left;
    text-align: center;
}

.textInfo {
    float: left;
    padding-left: 20%;
}
